<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Hello Index</h1>

    <p th:text="${session.username}"></p>

<a th:href="@{/member}">회원보기</a>

<th:block th:unless="${session.username} == null">
    <a th:href="@{/logout}">로그아웃</a>
</th:block>

    <th:block th:if="${session.username} == null">
    <a th:href="@{/loginForm}">로그인</a>
    <a th:href="@{/member/join}">회원가입</a>
</th:block>
</body>
</html>